.App {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.App-logo {
  height: 40px;
  width: 40px;
}
.left {
  width: 300px;
}
.search {
  padding: 0 20px;
}
button {
  background-color: black;
  color: white;
}
.characters {
  padding: 0 20px;
}
.list {
  padding: 0 20px;
  width: 120px;
  height: 100px;
  margin: 0 auto;
  overflow: auto;
  overflow-y: scroll;
  padding: 2px;
  text-align: justify;
  background: transparent;
}
.right {
  width: 300px;
}
.center {
  text-align: center;
}
.profile {
  padding: 0 20px;
}
.item {
  padding: 10px 0;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
